.check-bullet {
  list-style: none;
}
.check-bullet li {
  position: relative;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
}
.check-bullet li::before {
  content: url("../../assets/correct.svg");
  position: absolute;
  left: 0;
  top: 0.1em;
  width: 1em;
}
